<div class="score-box{{#if me}} me{{/if}} player-{{guid}}" data-guid="{{guid}}" data-score="{{#if score }}{{score}}{{else}}0{{/if}}" data-score-max="{{#if scoreMax }}{{scoreMax}}{{else}}100{{/if}}">
	<div class="score-liquid-wrapper">
		<div class="score-liquid"></div>
	</div>
</div>